<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Your cards</title>
    <!-- la etiqueta "meta" de abajo nos ayuda a que ande el responsive xd -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS only -->
    <link rel="shortcut icon" href="../assets/img/leaf.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="./style.css">
</head>

<body>
    <div id="app">
        <!-- ROBADO -->
        <video autoplay muted loop id="myVideo">
            <source src="../assets/vid/7btrrd.mp4" type="video/mp4">
        </video>
        <div class="center d-flex flex-column flex-md-row">
            <div class="left d-md-flex flex-column align-items-center d-none">
                <div class="logo col-5">
                    <img src="../assets/img/leaf.png" alt="leaf">
                </div>
                <div class="company">
                    <div class="company-name">MindBank</div>
                    <div class="company-description">Where your capital is safe</div>
                </div>
                <div class="navigation">
                    <ul>
                        <li>
                            <a href="./accounts.html" class="d-flex align-items-center">
                                <i class="material-icons">
                                    <img src="../assets/img/dollar.png" alt="">
                                </i>
                                <span>Accounts</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="d-flex align-items-center">
                                <i class="material-icons">
                                    <img src="../assets/img/credit-card.png" alt="">
                                </i>
                                <span>Cards</span>
                            </a>
                        </li>
                        <li>
                            <a href="./transfers.html" class="d-flex align-items-center">
                                <i class="material-icons">
                                    <img src="../assets/img/transferencia-de-dinero.png" alt="">
                                </i>
                                <span>Transfers</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="d-flex align-items-center">
                                <i class="material-icons">
                                    <img src="../assets/img/user.png" alt="">
                                </i>
                                <span>Profile</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="d-flex align-items-center">
                                <i class="material-icons">
                                    <img src="../assets/img/paper-airplane.png" alt="">
                                </i>
                                <span>Contact</span>
                            </a>
                        </li>
                        <li>
                            <a @click="logout()" class="d-flex align-items-center">
                                <i class="material-icons">
                                    <img src="../assets/img/turn-off.png" alt="">
                                </i>
                                <span>Logout</span>
                            </a>
                        </li>
                        <!-- <li> <i class="material-icons">:D</i><span>News</span></li>
                        <li><i class="material-icons">:D</i><span>Account</span></li> -->
                    </ul>
                </div>
            </div>
            <div class="left2 d-md-none flex-column  align-items-center d-flex col-12">
                <div class="d-flex flex-column align-items-center">
                    <div class="logo">
                        <img src="../assets/img/leaf.png" alt="leaf">
                        <div class="company">
                            <div class="company-name">MindBank</div>
                        </div>
                    </div>
                </div>
                <div class="navigation2 d-flex align-items-center flex-column">
                    <ul class="d-flex p-1">
                        <li>
                            <a href="./accounts.html" class="d-flex align-items-center">
                                <i class="material-icons">
                                    <img src="../assets/img/dollar.png" alt="">
                                </i>
                            </a>
                        </li>
                        <li>
                            <a href="./cards.html" class="d-flex align-items-center">
                                <i class="material-icons">
                                    <img src="../assets/img/credit-card.png" alt="">
                                </i>
                            </a>
                        </li>
                        <li>
                            <a href="./transfers.html" class="d-flex align-items-center">
                                <i class="material-icons">
                                    <img src="../assets/img/transferencia-de-dinero.png" alt="">
                                </i>
                            </a>
                        </li>
                    </ul>
                    <ul class="d-flex p-1">
                        <li>
                            <a href="#" class="d-flex align-items-center">
                                <i class="material-icons">
                                    <img src="../assets/img/user.png" alt="">
                                </i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="d-flex align-items-center">
                                <i class="material-icons">
                                    <img src="../assets/img/paper-airplane.png" alt="">
                                </i>
                            </a>
                        </li>
                        <li>
                            <a @click="logout()" class="d-flex align-items-center">
                                <i class="material-icons">
                                    <img src="../assets/img/turn-off.png" alt="">
                                </i>
                            </a>
                        </li>
                        <!-- <li> <i class="material-icons">:D</i><span>News</span></li>
                        <li><i class="material-icons">:D</i><span>Account</span></li> -->
                    </ul>
                </div>
            </div>
            <div class="right">
                <div class="title mt-5 text-center">{{client.firstName}}, here you can pay with your cards.</div>
                <div class="description d-flex justify-content-center flex-column align-items-center">
                    <h5>Complete the camps bellow:</h5>
                </div>

                <!-- SILVER -->
                <div class="d-flex justify-content-center ">
                    <form @submit.prevent="" action="" class="d-flex flex-column col-6 card flex-end">
                        <label for="name">Name in the Card</label>
                        <input v-model="cardHolder" type="text" name="name" id="name">

                        <label for="amount">Amount</label>
                        <input v-model="amount" type="number" name="amount" id="amount">

                        <label for="cardNumber">Card Number</label>
                        <select v-model="cardNumber" name="cardNumber" id="cardNumber">
                            <option value="" selected disabled>Select Card</option>
                            <option v-for="card in cardsActive" :value="card.number">{{card.number}}</option>
                        </select>

                        <label for="accountNumber">Account Number</label>
                        <select v-model="accountNumber" name="accountNumber" id="accountNumber">
                            <option value="" selected disabled>Select Account</option>
                            <option v-for="account in accountsActive" :value="account.number">{{account.number}}</option>
                        </select>

                        <label for="thruDate">Expiration</label>
                        <select name="thruDate" id="thruDate">
                            <option value="" selected disabled>Select Expiration Date</option>
                            <option v-model="thruDate" :value="card.thruDate.slice(0,7)" v-for="card in cardsActive">{{card.thruDate.slice(0,7)}}</option>
                        </select>
                        
                        <label for="cvv">CVV</label>
                        <input v-model="cvv" type="number" name="cvv" id="cvv">

                        <label for="description">Description</label>
                        <input v-model="description" type="text" name="description" id="description">
                        
                        <div class="d-flex justify-content-end">
                            <button  @click="payWithCard" class="btn btn-dark mt-2 col-4">Pay!</button>
                        </div>
                    </form>
                </div>


            </div>
        </div>
        <!-- ROBADO -->
    </div>

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="./card-payments.js"></script>
</body>

</html>