<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Create your Cards</title>
    <!-- la etiqueta "meta" de abajo nos ayuda a que ande el responsive xd -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS only -->
    <link rel="shortcut icon" href="../assets/img/leaf.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="./style.css">
</head>

<body>
    <div id="app">
        <!-- ROBADO -->
        <video autoplay muted loop id="myVideo">
            <source src="../assets/vid/7btrrd.mp4" type="video/mp4">
        </video>
        <div class="center d-flex flex-column flex-md-row">
            <div class="left d-md-flex flex-column align-items-center d-none">
                <div class="logo col-5">
                    <img src="../assets/img/leaf.png" alt="leaf">
                </div>
                <div class="company">
                    <div class="company-name">MindBank</div>
                    <div class="company-description">Where your capital is safe</div>
                </div>
                <div class="navigation">
                    <ul>
                        <li>
                            <a href="./accounts.html" class="d-flex align-items-center">
                                <i class="material-icons">
                                    <img src="../assets/img/dollar.png" alt="">
                                </i>
                                <span>Accounts</span>
                            </a>
                        </li>
                        <li>
                            <a href="./cards.html" class="d-flex align-items-center">
                                <i class="material-icons">
                                    <img src="../assets/img/credit-card.png" alt="">
                                </i>
                                <span>Cards</span>
                            </a>
                        </li>
                        <li>
                            <a href="./transfers.html" class="d-flex align-items-center">
                                <i class="material-icons">
                                    <img src="../assets/img/transferencia-de-dinero.png" alt="">
                                </i>
                                <span>Transfers</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="d-flex align-items-center">
                                <i class="material-icons">
                                    <img src="../assets/img/user.png" alt="">
                                </i>
                                <span>Profile</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="d-flex align-items-center">
                                <i class="material-icons">
                                    <img src="../assets/img/paper-airplane.png" alt="">
                                </i>
                                <span>Contact</span>
                            </a>
                        </li>
                        <li>
                            <a @click="logout()" class="d-flex align-items-center">
                                <i class="material-icons">
                                    <img src="../assets/img/turn-off.png" alt="">
                                </i>
                                <span>Logout</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="left2 d-md-none flex-column  align-items-center d-flex col-12">
                <div class="d-flex flex-column align-items-center">
                    <div class="logo">
                        <img src="../assets/img/leaf.png" alt="leaf">
                        <div class="company">
                            <div class="company-name">MindBank</div>
                        </div>
                    </div>
                </div>
                <div class="navigation2 d-flex align-items-center flex-column">
                    <ul class="d-flex p-1">
                        <li>
                            <a href="./accounts.html" class="d-flex align-items-center">
                                <i class="material-icons">
                                    <img src="../assets/img/dollar.png" alt="">
                                </i>
                            </a>
                        </li>
                        <li>
                            <a href="./cards.html" class="d-flex align-items-center">
                                <i class="material-icons">
                                    <img src="../assets/img/credit-card.png" alt="">
                                </i>
                            </a>
                        </li>
                        <li>
                            <a href="./transfers.html" class="d-flex align-items-center">
                                <i class="material-icons">
                                    <img src="../assets/img/transferencia-de-dinero.png" alt="">
                                </i>
                            </a>
                        </li>
                    </ul>
                    <ul class="d-flex p-1">
                        <li>
                            <a href="#" class="d-flex align-items-center">
                                <i class="material-icons">
                                    <img src="../assets/img/user.png" alt="">
                                </i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="d-flex align-items-center">
                                <i class="material-icons">
                                    <img src="../assets/img/paper-airplane.png" alt="">
                                </i>
                            </a>
                        </li>
                        <li>
                            <a @click="logout()" class="d-flex align-items-center">
                                <i class="material-icons">
                                    <img src="../assets/img/turn-off.png" alt="">
                                </i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="right">
                <div class="title mt-5">Create a card:</div>
                <div class="description d-flex justify-content-center flex-column align-items-center">
                    <h5>Choose the type and color of the card you want, then, click on "Create" to generate a new card!</h5>
                </div>

                <!-- SILVER -->
                <div class="d-flex justify-content-center">
                    <form action="" @submit.prevent="" class="d-flex flex-column col-3">
                        <select name="card-type" id="card-type" v-model="cardType" class="m-2">
                            <option selected disabled hidden>Card Type</option>
                            <option value="DEBIT">DEBIT</option>
                            <option value="CREDIT">CREDIT</option>
                        </select>
                        <select name="card-color" id="card-color" v-model="cardColor" class="m-2">
                            <option selected disabled hidden>Card Color</option>
                            <option value="SILVER">SILVER</option>
                            <option value="GOLD">GOLD</option>
                            <option value="TITANIUM">TITANIUM</option>
                        </select>
                        <button @click="createCard" class="m-2 btn btn-dark">Create</button>
                    </form>
                </div>

                <!-- EXAMPLE!! -->
                <div class="d-flex flex-column align-items-center mt-5">
                    <h5 class="description">Examples:</h5>

                    <div class="card m-3">
                        <div class="flip">
                            <div class="front titanium">
                                <div class="investor">TITANIUM, Card Type</div>
                                <div class="chip">
                                    <div class="chip-line"></div>
                                    <div class="chip-line"></div>
                                    <div class="chip-line"></div>
                                    <div class="chip-line"></div>
                                    <div class="chip-main"></div>
                                </div>
                                <svg class="wave" viewBox="0 3.71 26.959 38.787" width="26.959" height="38.787"
                                    fill="white">
                                    <path
                                        d="M19.709 3.719c.266.043.5.187.656.406 4.125 5.207 6.594 11.781 6.594 18.938 0 7.156-2.469 13.73-6.594 18.937-.195.336-.57.531-.957.492a.9946.9946 0 0 1-.851-.66c-.129-.367-.035-.777.246-1.051 3.855-4.867 6.156-11.023 6.156-17.718 0-6.696-2.301-12.852-6.156-17.719-.262-.317-.301-.762-.102-1.121.204-.36.602-.559 1.008-.504z">
                                    </path>
                                    <path
                                        d="M13.74 7.563c.231.039.442.164.594.343 3.508 4.059 5.625 9.371 5.625 15.157 0 5.785-2.113 11.097-5.625 15.156-.363.422-1 .472-1.422.109-.422-.363-.472-1-.109-1.422 3.211-3.711 5.156-8.551 5.156-13.843 0-5.293-1.949-10.133-5.156-13.844-.27-.309-.324-.75-.141-1.114.188-.367.578-.582.985-.542h.093z">
                                    </path>
                                    <path
                                        d="M7.584 11.438c.227.031.438.144.594.312 2.953 2.863 4.781 6.875 4.781 11.313 0 4.433-1.828 8.449-4.781 11.312-.398.387-1.035.383-1.422-.016-.387-.398-.383-1.035.016-1.421 2.582-2.504 4.187-5.993 4.187-9.875 0-3.883-1.605-7.372-4.187-9.875-.321-.282-.426-.739-.266-1.133.164-.395.559-.641.984-.617h.094zM1.178 15.531c.121.02.238.063.344.125 2.633 1.414 4.437 4.215 4.437 7.407 0 3.195-1.797 5.996-4.437 7.406-.492.258-1.102.07-1.36-.422-.257-.492-.07-1.102.422-1.359 2.012-1.075 3.375-3.176 3.375-5.625 0-2.446-1.371-4.551-3.375-5.625-.441-.204-.676-.692-.551-1.165.122-.468.567-.785 1.051-.742h.094z">
                                    </path>
                                </svg>
                                <div class="card-number">
                                    <div class="section">XXXX-XXXX-XXXX-XXXX</div>
                                </div>
                                <div class="end"><span class="end-text">Valid Thru:</span><span
                                        class="end-date">27-12</span></div>
                                <div class="card-holder">Your Name</div>
                                <div class="master end-date">
                                    MindBank
                                </div>
                            </div>
                            <div class="back">
                                <div class="strip-black"></div>
                                <div class="ccv">
                                    <label>cvv</label>
                                    <div>XXX</div>
                                </div>
                                <div class="terms">
                                    <p>This card is property of MindBank. Misuse is criminal offence.
                                        If found, please return to MindBank or to the nearest bank with MasterCard
                                        logo.</p>
                                    <p>Use of this card is subject to the credit card agreement.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card m-3">
                        <div class="flip">
                            <div class="front gold">
                                <div class="investor">GOLD, Card Type</div>
                                <div class="chip">
                                    <div class="chip-line"></div>
                                    <div class="chip-line"></div>
                                    <div class="chip-line"></div>
                                    <div class="chip-line"></div>
                                    <div class="chip-main"></div>
                                </div>
                                <svg class="wave" viewBox="0 3.71 26.959 38.787" width="26.959" height="38.787"
                                    fill="white">
                                    <path
                                        d="M19.709 3.719c.266.043.5.187.656.406 4.125 5.207 6.594 11.781 6.594 18.938 0 7.156-2.469 13.73-6.594 18.937-.195.336-.57.531-.957.492a.9946.9946 0 0 1-.851-.66c-.129-.367-.035-.777.246-1.051 3.855-4.867 6.156-11.023 6.156-17.718 0-6.696-2.301-12.852-6.156-17.719-.262-.317-.301-.762-.102-1.121.204-.36.602-.559 1.008-.504z">
                                    </path>
                                    <path
                                        d="M13.74 7.563c.231.039.442.164.594.343 3.508 4.059 5.625 9.371 5.625 15.157 0 5.785-2.113 11.097-5.625 15.156-.363.422-1 .472-1.422.109-.422-.363-.472-1-.109-1.422 3.211-3.711 5.156-8.551 5.156-13.843 0-5.293-1.949-10.133-5.156-13.844-.27-.309-.324-.75-.141-1.114.188-.367.578-.582.985-.542h.093z">
                                    </path>
                                    <path
                                        d="M7.584 11.438c.227.031.438.144.594.312 2.953 2.863 4.781 6.875 4.781 11.313 0 4.433-1.828 8.449-4.781 11.312-.398.387-1.035.383-1.422-.016-.387-.398-.383-1.035.016-1.421 2.582-2.504 4.187-5.993 4.187-9.875 0-3.883-1.605-7.372-4.187-9.875-.321-.282-.426-.739-.266-1.133.164-.395.559-.641.984-.617h.094zM1.178 15.531c.121.02.238.063.344.125 2.633 1.414 4.437 4.215 4.437 7.407 0 3.195-1.797 5.996-4.437 7.406-.492.258-1.102.07-1.36-.422-.257-.492-.07-1.102.422-1.359 2.012-1.075 3.375-3.176 3.375-5.625 0-2.446-1.371-4.551-3.375-5.625-.441-.204-.676-.692-.551-1.165.122-.468.567-.785 1.051-.742h.094z">
                                    </path>
                                </svg>
                                <div class="card-number">
                                    <div class="section">XXXX-XXXX-XXXX-XXXX</div>
                                </div>
                                <div class="end"><span class="end-text">Valid Thru:</span><span
                                        class="end-date">27-12</span></div>
                                <div class="card-holder">Your Name</div>
                                <div class="master end-date">
                                    MindBank
                                </div>
                            </div>
                            <div class="back">
                                <div class="strip-black"></div>
                                <div class="ccv">
                                    <label>cvv</label>
                                    <div>XXX</div>
                                </div>
                                <div class="terms">
                                    <p>This card is property of MindBank. Misuse is criminal offence.
                                        If found, please return to MindBank or to the nearest bank with MasterCard
                                        logo.</p>
                                    <p>Use of this card is subject to the credit card agreement.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card m-3">
                        <div class="flip">
                            <div class="front silver">
                                <div class="investor">SILVER, Card Type</div>
                                <div class="chip">
                                    <div class="chip-line"></div>
                                    <div class="chip-line"></div>
                                    <div class="chip-line"></div>
                                    <div class="chip-line"></div>
                                    <div class="chip-main"></div>
                                </div>
                                <svg class="wave" viewBox="0 3.71 26.959 38.787" width="26.959" height="38.787"
                                    fill="white">
                                    <path
                                        d="M19.709 3.719c.266.043.5.187.656.406 4.125 5.207 6.594 11.781 6.594 18.938 0 7.156-2.469 13.73-6.594 18.937-.195.336-.57.531-.957.492a.9946.9946 0 0 1-.851-.66c-.129-.367-.035-.777.246-1.051 3.855-4.867 6.156-11.023 6.156-17.718 0-6.696-2.301-12.852-6.156-17.719-.262-.317-.301-.762-.102-1.121.204-.36.602-.559 1.008-.504z">
                                    </path>
                                    <path
                                        d="M13.74 7.563c.231.039.442.164.594.343 3.508 4.059 5.625 9.371 5.625 15.157 0 5.785-2.113 11.097-5.625 15.156-.363.422-1 .472-1.422.109-.422-.363-.472-1-.109-1.422 3.211-3.711 5.156-8.551 5.156-13.843 0-5.293-1.949-10.133-5.156-13.844-.27-.309-.324-.75-.141-1.114.188-.367.578-.582.985-.542h.093z">
                                    </path>
                                    <path
                                        d="M7.584 11.438c.227.031.438.144.594.312 2.953 2.863 4.781 6.875 4.781 11.313 0 4.433-1.828 8.449-4.781 11.312-.398.387-1.035.383-1.422-.016-.387-.398-.383-1.035.016-1.421 2.582-2.504 4.187-5.993 4.187-9.875 0-3.883-1.605-7.372-4.187-9.875-.321-.282-.426-.739-.266-1.133.164-.395.559-.641.984-.617h.094zM1.178 15.531c.121.02.238.063.344.125 2.633 1.414 4.437 4.215 4.437 7.407 0 3.195-1.797 5.996-4.437 7.406-.492.258-1.102.07-1.36-.422-.257-.492-.07-1.102.422-1.359 2.012-1.075 3.375-3.176 3.375-5.625 0-2.446-1.371-4.551-3.375-5.625-.441-.204-.676-.692-.551-1.165.122-.468.567-.785 1.051-.742h.094z">
                                    </path>
                                </svg>
                                <div class="card-number">
                                    <div class="section">XXXX-XXXX-XXXX-XXXX</div>
                                </div>
                                <div class="end"><span class="end-text">Valid Thru:</span><span
                                        class="end-date">27-12</span></div>
                                <div class="card-holder">Your Name</div>
                                <div class="master end-date">
                                    MindBank
                                </div>
                            </div>
                            <div class="back">
                                <div class="strip-black"></div>
                                <div class="ccv">
                                    <label>cvv</label>
                                    <div>XXX</div>
                                </div>
                                <div class="terms">
                                    <p>This card is property of MindBank. Misuse is criminal offence.
                                        If found, please return to MindBank or to the nearest bank with MasterCard
                                        logo.</p>
                                    <p>Use of this card is subject to the credit card agreement.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- ROBADO -->
    </div>

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="./create-cards.js"></script>
</body>

</html>